<div class="grid-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">Indices</div>
          <div class="panel-body">
            <div class="btn-group ">
              <button type="button" class="btn btn-default" (click)="changeIndex('NIFTY')">Nifty</button>
              <button type="button" class="btn btn-default" (click)="changeIndex('BANKNIFTY')">BankNifty</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">OTM CALL</div>
          <div class="panel-body">
              <app-datatable 
              [id]="dashboard.otmCallDatatable.id" 
              [options]="dashboard.otmCallDatatable.options" 
              (instance)="otmCallDatatableEvt($event)">
            </app-datatable>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">OTM PUT</div>
          <div class="panel-body">
              <app-datatable 
              [id]="dashboard.otmPutDatatable.id" 
              [options]="dashboard.otmPutDatatable.options" 
              (instance)="otmPutDatatableEvt($event)">
            </app-datatable>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">ITM CALL</div>
          <div class="panel-body">
              <app-datatable 
              [id]="dashboard.itmCallDatatable.id" 
              [options]="dashboard.itmCallDatatable.options" 
              (instance)="itmCallDatatableEvt($event)">
            </app-datatable>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">ITM PUT</div>
          <div class="panel-body">
              <app-datatable 
              [id]="dashboard.itmPutDatatable.id" 
              [options]="dashboard.itmPutDatatable.options" 
              (instance)="itmPutDatatableEvt($event)">
            </app-datatable>
          </div>
        </div>
      </div>
      
      <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Intraday</div>
            <div class="panel-body">
                <app-datatable 
                [id]="dashboard.intradayDatatable.id" 
                [options]="dashboard.intradayDatatable.options" 
                (instance)="intradayDatatableEvt($event)">
              </app-datatable>
            </div>
          </div>
        </div>
    </div>
</div>
