<div class="grid-container">
  
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Indices</div>
        <div class="panel-body">
          <div class="btn-group ">
            <button type="button" class="btn btn-default" (click)="changeIndex('NIFTY')">Nifty</button>
            <button type="button" class="btn btn-default" (click)="changeIndex('BANKNIFTY')">BankNifty</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="false">
      <div class="panel panel-default">
        <div class="panel-heading">Intraday</div>
        <div class="panel-body">
          <app-datatable 
            [id]="dashboard.intradayDatatableSetting.id" 
            [options]="dashboard.intradayDatatableSetting.options" 
            (instance)="intradayDatatableEvt($event)">
          </app-datatable>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="false">
      <div class="panel panel-default">
        <div class="panel-heading">Chart</div>
        <div class="panel-body">
          <canvas id="bearPutSpread" width="400" height="280"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="false">
      <div class="panel panel-default">
        <div class="panel-heading">Put Option</div>
        <div class="panel-body">
          <app-datatable 
            [id]="dashboard.nseOptionChainDatatable.id" 
            [options]="dashboard.nseOptionChainDatatable.options" 
            (instance)="nseOptionChainDatatableEvt($event)">
          </app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>