<div class="grid-container">
  
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Indices</div>
        <div class="panel-body">
          <div class="btn-group ">
            <button type="button" class="btn btn-default" (click)="changeIndex(9)">Nifty</button>
            <button type="button" class="btn btn-default" (click)="changeIndex(23)">BankNifty</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Intraday</div>
        <div class="panel-body">
          <app-datatable 
            [id]="dashboard.intradayDatatableSetting.id" 
            [options]="dashboard.intradayDatatableSetting.options" 
            (instance)="intradayDatatableEvt($event)">
          </app-datatable>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Chart</div>
        <div class="panel-body">
          <canvas id="myChart" width="400" height="280"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Call Option</div>
        <div class="panel-body">
          <app-datatable 
            [id]="dashboard.callDatatableSetting.id" 
            [options]="dashboard.callDatatableSetting.options" 
            (instance)="callDatatableEvt($event)">
          </app-datatable>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Put Option</div>
        <div class="panel-body">
          <app-datatable 
            [id]="dashboard.putDatatableSetting.id" 
            [options]="dashboard.putDatatableSetting.options" 
            (instance)="putDatatableEvt($event)">
          </app-datatable>
        </div>
      </div>
    </div>
  </div>
</div>