<mat-form-field class="example-full-width" >
    <mat-label>Search Stock or Indice</mat-label>
    <input type="text" matInput [formControl]="autoCompleteControl" [matAutocomplete]="auto"  (optionSelected)="selectedOption($event)">
    <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
      <mat-option *ngFor="let item of autoCompleteOptions$ | async; let index = index" [value]="item"
      (onSelectionChange)="selectedOption(item)">
      >
        <p [innerHTML]="item.pdt_dis_nm"></p>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>